body{
    height: 100%;
    width: 100%;
}

.navbar{
    min-width: 215px;
}

#logo {
    width: 120px;
    height: 50px;
    object-fit: cover;
}

#crop{
    text-align: left;
}

.navbar-toggler{
    border: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler-icon{
    background-image:url(
        "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23BC9C22' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") ;
}

.buttongold{
    background-color: #BC9C22;
    border:None;
    width: 100px;
    --bs-btn-active-bg:#bc9d229f;
}

.btn-success{
    --bs-btn-border-color:none;
}

#search-bar{
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("https://source.unsplash.com/800x800?home");
    height: fit-content;
    min-height: 500px;
    background-repeat:repeat-y;
    background-size: cover;
    padding-right: 0;
    padding-left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 215px;
    display:flex;
    padding: 5px;
}

#search-box{
    width: 100%;
    max-width: 855px;
}

#search-content{
    padding: 12px 48px 0px 48px;
    background-color: black;
    opacity: 70%;
}

#btn-container{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    background: linear-gradient(black 50%,transparent 50%);
}

#search-button{
    width: 20%;
    justify-content: space-evenly;
    display: flex;
}




#sewa-beli-container{
    display: flex;
    justify-content: left;
}

#title-bar.container{
    margin: 0;
    padding: 0; 
    background-color: transparent;
    color: white;
}

.sewa-beli-btn{
    margin:5px;
    background-color: transparent;
    border: 0;padding: 0;
    color: #fff;
    text-align: left;
    width: fit-content;
    border-bottom: 3px transparent;
}

.sewa-beli-btn-active{
    border-bottom: 3px solid rgb(255, 255, 255);
}

#search-input{
    width:100%
}

.input-group{
    justify-content: space-evenly;
    display: flex;
    padding: 12px 12px;
}

.col-wrapper{
    justify-content: center;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
}

#dropdown-filter-container{
    width: 100%;
    margin: 0;
    color: #fff;
    text-align: left;
    padding: 5px;
    justify-content: space-between;
    
}

#dropdown-filter{
    margin: 0;
    padding: 12px;
}

select{
    color: #000000;
    text-align: left;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

option{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
}

.form-select:focus {
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(92, 92, 92, 0.25);
}

.dropdown-menu {
    --bs-dropdown-min-width:3rem;
    position: absolute;
    display: none;
    min-width: var(--bs-dropdown-min-width);
}

.dropdown-menu.show {
    position: absolute;
    transform: translate3d(12px, 84px, 0px);
    height: 320px;
    width: calc(100% - 24px);
    inset: 0px auto auto 0px;
    margin: 0px;
    
    z-index: 9;
    border: 1px solid #fff;
    border-radius: 5px;
}

.dropdown-menu.show::-webkit-scrollbar {
    background-color:transparent;
    width: 16px;
    }
    
.dropdown-menu.show::-webkit-scrollbar-thumb {background-color: rgb(186, 186, 192);border-radius: 16px;
    border: 4px solid #fff;
    border-image: initial;
}
.dropdown-menu.show::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

.buttongold:hover{
    color: #ffffff;
    background-color: #BC9C22;
}

.btn:active{
    color: #ffffff;
    background-color: #BC9C22;
}

.dropdown-toggle::after{
    justify-content: space-between;
}

navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #000000;
    color:#000000;
  }

hr { 
    background-color: #fff; 
    height: 6px;
    border: 0; 
    opacity: 100%;
    margin: 12px;
}

.uil-angle-down{
    height: 65px;
    width: 65px;
}

#property-card{
    margin: 10px;
}

/* CARD */
/* * Dijual-Emas */
            .dijual {
                background-color: #bc9c22;
            }
            .dijual .badge {
                color: #bc9c22;
            }
            .dijual p {
                color: black;
            }
            /* Dijual-Emas */

            /* Disewa-Biru */
            .disewa {
                background-color: #366ace;
            }
            .disewa .badge {
                color: #366ace;
            }
            /* Disewa-Biru */
            .disewa p {
                color: black;
            }

#logo_footer {
    width: 110px;
    height: 65px;
    object-fit:none;
}
            

@media screen and (min-width: 768px) {
   #br_footer{
        height:100%;
        width: 2px;
    }
    #dropdown-filter{
        max-width: 33%;
    }
}

@media screen and (max-width: 767px) {
    #br_footer{
        height:2px;
        width:100%;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left:0;
        margin-right:0;
    }
    
}

@media screen and (max-width: 421px) {
    #dropdown-filter{
        min-width: 100%;
    }
}

@media screen and (min-width: 422px) {

     #dropdown-filter{
         max-width: 33%;
     }
 }